body{
    background-color: rgb(51, 50, 49);
    color: rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: yellow;
    transition: 0.4s all;
}

#criarContaBtn{
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 15px;
}

#criarContaBtn:hover{
    background-color: yellow;
    color: rgb(0, 0, 0);
}

h1{
    font-size: 45px;
    font-weight: 50;
}

h3{
    font-weight: 50;
    font-size: 16px;
}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 40px;
}

input{
    margin-top: 20px;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

img{
    margin-top: 100px;
    margin-left: 40px;
    width: 650px;
}

footer{
    margin-top: 100px;
}