@font-face {
    font-family: 'marspolice';
    src: url('../components/fonts/marspolice_i.ttf') format('woff2'),
         url('../components/fonts/marspolice_i.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'policeFont';
    src: url('../components/fonts/marspolice_i.ttf') 
         url('../components/fonts/marspolice_i.ttf') 
         
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'policeFont';
    src: url('../components/fonts/marspolice_i.ttf') format('woff2'),
         url('../components/fonts/marspolice_i.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'policeFont';
    src: url('../components/fonts/marspolice_i.ttf') format('woff2'),
         url('../components/fonts/marspolice_i.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'policeFont';
    src: url('../components/fonts/marspolice_i.ttf') format('woff2'),
         url('../components/fonts/marspolice_i.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'policeFont';
    src: url('../components/fonts/marspolice_i.ttf') format('woff2'),
         url('../components/fonts/marspolice_i.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  

 